<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A UIView subclass built with Stevia and SwiftUI previews.</string>
	<key>Summary</key>
	<string>A UIView with Stevia.</string>
	<key>SortOrder</key>
	<string>2</string>
	<key>DefaultCompletionName</key>
	<string>Stevia View</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
</dict>
</plist>
