<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>LLDB_Commands</key>
			<dict>
				<key>date</key>
				<date>2023-04-21T20:33:54Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>LLDB Commands</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>LLDB_Commands</string>
				</dict>
			</dict>
			<key>MIME_Types</key>
			<dict>
				<key>date</key>
				<date>2023-04-01T19:59:46Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>MIME Types</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>MIME_Types</string>
				</dict>
			</dict>
			<key>NSDateFormatter</key>
			<dict>
				<key>date</key>
				<date>2023-04-04T14:09:04Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>xcode</string>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>mac os x</string>
						<string>macosx</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>swift</string>
					</array>
					<key>name</key>
					<string>NSDateFormatter</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>NSDateFormatter</string>
				</dict>
			</dict>
			<key>Regular_Expressions</key>
			<dict>
				<key>date</key>
				<date>2023-04-01T19:59:21Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>RegEx</string>
						<string>reg ex</string>
					</array>
					<key>name</key>
					<string>Regular Expressions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Regular_Expressions</string>
				</dict>
			</dict>
			<key>Vim</key>
			<dict>
				<key>date</key>
				<date>2023-03-07T05:45:11Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Vim</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Vim</string>
				</dict>
			</dict>
			<key>iOS_Design</key>
			<dict>
				<key>date</key>
				<date>2023-03-19T05:04:38Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>xcode</string>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>objective-c</string>
					</array>
					<key>name</key>
					<string>iOS Design</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>iOS_Design</string>
				</dict>
			</dict>
			<key>tmux</key>
			<dict>
				<key>date</key>
				<date>2023-02-14T16:39:47Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>tmux</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>tmux</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Alamofire/Alamofire</key>
			<dict>
				<key>date</key>
				<date>2024-03-04T04:46:48Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>Alamofire/Alamofire</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>Alamofire/Alamofire</string>
				</dict>
			</dict>
			<key>yonaskolb/XcodeGen</key>
			<dict>
				<key>date</key>
				<date>2024-02-16T16:03:04Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>yonaskolb/XcodeGen</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>yonaskolb/XcodeGen</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHSwiftRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>https://github.com/Alamofire/Alamofire</key>
			<dict>
				<key>date</key>
				<date>2024-03-04T04:47:02Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>Alamofire/Alamofire</string>
					<key>platform</key>
					<string>docc</string>
					<key>uniqueIdentifier</key>
					<string>https://github.com/Alamofire/Alamofire</string>
				</dict>
			</dict>
			<key>https://github.com/hmlongco/Factory</key>
			<dict>
				<key>date</key>
				<date>2024-02-02T23:34:34Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>hmlongco/Factory</string>
					<key>platform</key>
					<string>docc</string>
					<key>uniqueIdentifier</key>
					<string>https://github.com/hmlongco/Factory</string>
				</dict>
			</dict>
			<key>https://github.com/kean/Nuke</key>
			<dict>
				<key>date</key>
				<date>2024-02-11T04:25:04Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>kean/Nuke</string>
					<key>platform</key>
					<string>docc</string>
					<key>uniqueIdentifier</key>
					<string>https://github.com/kean/Nuke</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Ramda</key>
			<dict>
				<key>date</key>
				<date>2023-04-01T19:59:53Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Ramda#readme</string>
					<key>authorLinkText</key>
					<string>Alex Bepple</string>
					<key>name</key>
					<string>Ramda</string>
					<key>platform</key>
					<string>usercontribRamda</string>
					<key>uniqueIdentifier</key>
					<string>Ramda</string>
				</dict>
			</dict>
			<key>React_Native</key>
			<dict>
				<key>date</key>
				<date>2023-08-22T20:35:24Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>React</string>
						<string>ReactNative</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>Reactjs</string>
						<string>UI</string>
						<string>iOS</string>
						<string>Android</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/React_Native#readme</string>
					<key>authorLinkText</key>
					<string>mnmaraes</string>
					<key>name</key>
					<string>React Native</string>
					<key>platform</key>
					<string>usercontribReact_Native</string>
					<key>uniqueIdentifier</key>
					<string>React_Native</string>
				</dict>
			</dict>
			<key>Swift</key>
			<dict>
				<key>date</key>
				<date>2023-03-07T05:05:40Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Swift</string>
						<string>Swift Language Guide</string>
						<string>Swift Book</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Swift#readme</string>
					<key>authorLinkText</key>
					<string>Roey Biran</string>
					<key>name</key>
					<string>Swift Language Guide</string>
					<key>platform</key>
					<string>usercontribSwift</string>
					<key>uniqueIdentifier</key>
					<string>Swift</string>
				</dict>
			</dict>
			<key>Tailwind_CSS</key>
			<dict>
				<key>date</key>
				<date>2024-03-04T20:28:31Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>tailwind</string>
						<string>TailwindCSS</string>
						<string>tailwind CSS</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Tailwind_CSS#readme</string>
					<key>authorLinkText</key>
					<string>Ben Booth, Guill Lo, Akinori Musha</string>
					<key>name</key>
					<string>Tailwind CSS</string>
					<key>platform</key>
					<string>usercontribTailwind_CSS</string>
					<key>uniqueIdentifier</key>
					<string>Tailwind_CSS</string>
				</dict>
			</dict>
			<key>fish</key>
			<dict>
				<key>date</key>
				<date>2023-02-14T16:39:43Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>fishshell</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/fish#readme</string>
					<key>authorLinkText</key>
					<string>Andrei Borisov</string>
					<key>name</key>
					<string>fish</string>
					<key>platform</key>
					<string>usercontribfish</string>
					<key>uniqueIdentifier</key>
					<string>fish</string>
				</dict>
			</dict>
			<key>jq</key>
			<dict>
				<key>date</key>
				<date>2024-02-10T04:24:31Z</date>
				<key>entry</key>
				<dict>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/jq#readme</string>
					<key>authorLinkText</key>
					<string>Mattias Wadman</string>
					<key>name</key>
					<string>jq</string>
					<key>platform</key>
					<string>usercontribjq</string>
					<key>uniqueIdentifier</key>
					<string>jq</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHWKWebViewTextSizeMultiplier</key>
	<real>1</real>
	<key>actuallyDarkWebView</key>
	<true/>
	<key>annotationsAreShown</key>
	<false/>
	<key>bookmarks</key>
	<array>
		<dict>
			<key>path</key>
			<string>https://developer.apple.com/help/app-store-connect/reference/screenshot-specifications</string>
			<key>platformImagePath</key>
			<string>Web</string>
			<key>title</key>
			<string>Screenshot specifications - Reference - App Store Connect - Help - Apple Developer</string>
		</dict>
		<dict>
			<key>path</key>
			<string>https://developer.apple.com/support/app-store/</string>
			<key>platformImagePath</key>
			<string>Web</string>
			<key>title</key>
			<string>iOS Usage Info (App Store - Support - Apple Developer)</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=ls/documentation/bundleresources/information_property_list</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>Information Property List</string>
		</dict>
		<dict>
			<key>path</key>
			<string>https://developer.apple.com/design/human-interface-guidelines/</string>
			<key>platformImagePath</key>
			<string>Web</string>
			<key>title</key>
			<string>Human Interface Guidelines | Apple Developer Documentation</string>
		</dict>
		<dict>
			<key>path</key>
			<string>https://developer.apple.com/design/human-interface-guidelines/typography#Specifications</string>
			<key>platformImagePath</key>
			<string></string>
			<key>title</key>
			<string>Typography | Dynamic Type sizes | HIG</string>
		</dict>
	</array>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/Cheat Sheets/NSDateFormatter/NSDateFormatter.docset</key>
			<string>date:</string>
			<key>~/Library/Application Support/Dash/DocSets/Apple_API_Reference/Apple_API_Reference.docset</key>
			<string>apple:</string>
			<key>~/Library/Application Support/Dash/DocSets/JavaScript/JavaScript.docset</key>
			<string>js:</string>
			<key>~/Library/Application Support/Dash/DocSets/SwiftLintCore/SwiftLintCore.docset</key>
			<string>swiftlint:</string>
			<key>~/Library/Application Support/Dash/DocSets/TypeScript/TypeScript.docset</key>
			<string>ts:</string>
			<key>~/Library/Application Support/Dash/GitHub/AlamofireAlamofire/Alamofire-Alamofire.docset</key>
			<string>alamo:</string>
			<key>~/Library/Application Support/Dash/GitHub/hmlongcoFactory/hmlongco-Factory.docset</key>
			<string>factory:</string>
			<key>~/Library/Application Support/Dash/GitHub/keanNuke/kean-Nuke.docset</key>
			<string>nuke:</string>
			<key>~/Library/Application Support/Dash/GitHub/yonaskolbXcodeGen/yonaskolb-XcodeGen.docset</key>
			<string>xcgen:</string>
			<key>~/Library/Application Support/Dash/Swift DocSets/AlamofireAlamofire/Alamofire.doccarchive/Alamofire.docset</key>
			<string>alamo:</string>
			<key>~/Library/Application Support/Dash/Swift DocSets/hmlongcoFactory/Factory.doccarchive/Factory.docset</key>
			<string>factory:</string>
			<key>~/Library/Application Support/Dash/Swift DocSets/keanNuke/Nuke.doccarchive/Nuke.docset</key>
			<string>nuke:</string>
			<key>~/Library/Application Support/Dash/Swift DocSets/keanNuke/NukeExtensions.doccarchive/NukeExtensions.docset</key>
			<string>nukeext:</string>
			<key>~/Library/Application Support/Dash/Swift DocSets/keanNuke/NukeUI.doccarchive/NukeUI.docset</key>
			<string>nukeui:</string>
			<key>~/Library/Application Support/Dash/Swift DocSets/keanNuke/NukeVideo.doccarchive/NukeVideo.docset</key>
			<string>nukevid:</string>
			<key>~/Library/Application Support/Dash/User Contributed/Swift Language Guide/SwiftLanguageGuide.docset</key>
			<string>swift:</string>
			<key>~/Library/Application Support/Dash/Versioned DocSets/NodeJS - DHDocsetDownloader/18-11-0/NodeJS.docset</key>
			<string>node:</string>
			<key>~/Library/Application Support/Dash/Versioned DocSets/PostgreSQL - DHDocsetDownloader/11-12/PostgreSQL.docset</key>
			<string>pg:</string>
			<key>~/Library/Application Support/Dash/Versioned DocSets/PostgreSQL - DHDocsetDownloader/14-5/PostgreSQL.docset</key>
			<string>pg:</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Apple_API_Reference.xml</key>
			<dict>
				<key>date</key>
				<date>2023-02-08T05:21:52Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2023-04-01T19:59:00Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2023-02-16T05:18:54Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2023-04-01T19:59:14Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTTP.xml</key>
			<dict>
				<key>date</key>
				<date>2023-08-25T22:34:04Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2023-02-17T23:18:12Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2023-08-15T16:39:33Z</date>
			</dict>
			<key>http://kapeli.com/feeds/TypeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2023-02-08T05:22:31Z</date>
			</dict>
			<key>https://realm.github.io/SwiftLint/docsets/SwiftLintCore.xml</key>
			<dict>
				<key>date</key>
				<date>2023-05-13T18:44:00Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<false/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>25</integer>
		<key>modifiers</key>
		<integer>4096</integer>
	</dict>
	<key>searchUsingSelectedTextKey</key>
	<dict>
		<key>keyCode</key>
		<integer>25</integer>
		<key>modifiers</key>
		<integer>4608</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHSwiftRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>https://github.com/Alamofire/Alamofire</key>
			<dict/>
			<key>https://github.com/hmlongco/Factory</key>
			<dict/>
			<key>https://github.com/kean/Nuke</key>
			<dict/>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/NodeJS.xml</key>
			<dict>
				<key>18.11.0</key>
				<dict>
					<key>date</key>
					<date>2023-04-01T20:00:05Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/PostgreSQL.xml</key>
			<dict>
				<key>14.5</key>
				<dict>
					<key>date</key>
					<date>2023-04-01T19:58:46Z</date>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAEKADAAQAAAABAAAAEAAAAAA0VXHyAAABIElEQVQ4EWP8//8/Awx0dnbCmOi0KFAgBYjnA/ELkGR5eTmIYmACk/gJYaD0QSBuAuIf6EpZ0AWw8IuBYppADHLBB3R5XC7gByoUgSo+BKStgHg1EEtCxeAUNgPKgLJ3gfgeEHcA8SsgtgbiB0AMEl8ExCBvgQG6F0KBosghCQopSGhB1IPIMCCeBMRvQRx0F2SDBAmAVKD8GZgadAPUYBI46O9A8X3IcugGMCNLYmGzAsXg/gfJoxvwFIsmZCFQmDUCMQ9MEN2AzTAJPHQAUG4uTB7dgOlAiTcwSTz0epgcugGgdI4eEzeBYl9gGoA0KEGtgPHR0wFIfBUQgwz2BeKlQLwNiJWAGJQeQHHfDMRwwIicG+GiJDDQvUCCVohSAOILLNvxlTYcAAAAAElFTkSuQmCC</string>
			<key>icon@2x</key>
			<string>iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAIKADAAQAAAABAAAAIAAAAACshmLzAAACIElEQVRYCe2XPUgcQRTHc2KwiNhLCHZJYSUKiloEG20DgVSi16QURPAEEYIichITEAQrQwgE1MIiVfCDIGiIiGgh2ohG8ANEBFHRIp6/B3sy6MybWe7gmjz4MbPvY95/93Zn9xKZTOZJIa3Y1TydTrtCmv8FwbfwB5bNxFQqZR7ez4vuZ7lP3rDEAnyCytDlnFcgdIEoL8k4YdSsGnN1mo8r8JIOo0aXX8w3jGN1mg8B7+lQGnW5YOyC2+jYO+RDQGPUZY3xNcgYbHHuATnLV/AMDmAHxAbgChbhObRAAvZhE1QLESA53SCXuiJa7YZxCb7Cb6iBeaiHpyAmP8MK9MEcWM0noIyqSZCzMq2Eg6YI02/Oiziog5/QAWPwyCRJM7m7HzbX8m0x6SEblNU0AQ1UtFmr4jn7Se9xlWgCWl1FMfzyRIgAp2kCqp1V4YHvpP7T0jUB5VphYGzdl6cJyD5OvjW0uHdH1ARcaisHxrxvRU2A7Ha52jvfApqALV9xQFzeE51aniZgQSuMERshV7Zjq2kCZAs9tlbFc8qLqddVogk4o2jaVRjT77yhNQHS4zOcx2xmS/9hc4rPJ2CXnEFXcaD/lLwPrlyfAKn7CLOuBQL88hTsufJCBMhu1g62rxv5BtyGv2CzIZzfbIGsz/dBks07ZNIMwyAvqROYghk4Atm2qyAJtXANX2AcVEsU+q9ZyE+gnkGuwf8CCn4F7gBidFBF+3A16QAAAABJRU5ErkJggg==</string>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Apple Developer</string>
			<key>url</key>
			<string>https://developer.apple.com/search/?q={query}&amp;type=Documentation</string>
		</dict>
	</array>
</dict>
</plist>
